                       __________________________
               __..--/".'                        '.
       __..--""      | |                          |
      /              | |                          |
     /               | |    ___________________   |
    ;                | |   :__________________/:  |
    |                | |   |slothnet>        '.|  |
    |                | |   |                  ||  |
    |                | |   |                  ||  |
    |                | |   |                  ||  |
    |                | |   |                  ||  |
    |                | |   |                  ||  |
    |                | |   |                  ||  |
    |                | |   |                  ||  |
    |                | |   |______......-----"\|  |
    |                | |   |_______......-----"   |
    |                | |                          |
    |                | |                          |
    |                | |                  ____----|
    |                | |_____.....----|#######|---|
    |                | |______.....----""""       |
    |                | |                          |
    |. ..            | |   ,                      |
    |... ....        | |  (c ----- """           .'
    |..... ......  |\|_|    ____......------"""|"
    |. .... .......| |""""""                   |
    '... ..... ....| |                         |
      "-._ .....  .| |                         |
          "-._.....| |             ___...---"""'
              "-._.| | ___...---"""
                  """""

===-------[ {{ inventory_hostname }} ]-------===

ARCH:.....................[ {{ ansible_architecture }}
MEMORY:...................[ {{ ansible_memtotal_mb }}MB
IP:.......................[ {{ ansible_default_ipv4.address }}
INTERFACE:................[ {{ ansible_default_ipv4.interface }}
DISTRO:...................[ {{ ansible_distribution }} {{ ansible_distribution_version }}

===-------[ {{ inventory_hostname }} ]-------===
